<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>お問い合せ確認</h1>
    <p><a href="/contacts">お問い合せ記入に戻る</a></p>
    <p>お名前：<%= @name %></p>
    <p>メールアドレス：<%= @email %></p>
    <p>内容：<%= @content %></p>    
  </body>
</html>