<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<form action="/contacts" method="POST">
  <h1>お問い合わせ</h1>
  <div>
    お名前<input type="text" name="name">
  </div>
  <div>
    メールアドレス<input type="text" name="email">
  </div>
  <div>
    お問い合わせ内容
    <textarea name="content" cols=40 rows=4></textarea>
  </div>
  <div>
    <input type="submit">
  </div>
</form>
</body>
</html>