<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/users.css">
</head>
<body>
<form action="/users/confirm" method="POST">
  <h1>新規登録</h1>
  <div>
    お名前<input type="text" name="name"><br>
    <span class="err_msg"><%= @err_name %></span>
  </div>
  <div>
    メールアドレス<input type="text" name="email"><br>
    <span class="err_msg"><%= @err_email %></span>
  </div>
  <div>
    パスワード<input type="password" name="password"><br>
    <span class="err_msg"><%= @err_password %></span>
  </div>
  <div>
    <input type="submit">
  </div>
</form>
</body>
</html>